.section {
    width: 100%;
    height: 90%;
    align-content: center;
}

.container {
    align-items: center;
    padding: 2vw 10%;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vh;

}

.card h2 {
    color: #0986CA;
    font-size: 30px;
}

.card p {
    width: 80%;
    text-align: center;
    font-size: 20px;
}

.cardImg {
    display: flex;
    gap: 7vw;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.img {
    height: 300px;
    max-width: 100%;
}

