.section {
    width: 100%;
    height: 90%;
    align-content: center;
}

.container {
    align-items: center;
    padding: 2vw 10%;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vh;

}

.card h2 {
    color: #0986CA;
    font-size: 30px;
}

.card h3 {
    text-align: center;
    margin-bottom: 5px;
}

.card ul,
.card ol {
    display: flex;
    flex-direction: column;
    gap: 2px;
    font-size: 20px;
    list-style-position: inside;
}

.card ul li, .card ol li {
    text-align: center;
}

.img {
    height: 400px;
    max-width: 100%;
}