.section {
    width: 100%;
    height: 90%;
    align-content: center;
}

.container {
    align-items: center;
    padding: 2vw 10%;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vh;

}

.card h2 {
    color: #0986CA;
    font-size: 30px;
}


.card p {
    width: 80%;
    text-align: center;
    font-size: 20px;
}

.cardImg {
    display: flex;
    gap: 7vw;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.img {
    height: 330px;
    max-width: 100%;
}

.imgImprimir {
    height: 420px;
}

.after{
    position: relative;
    cursor: pointer;
}

.after::after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(214, 214, 214, 0.445);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.after:hover::after{
    opacity: 1;
}

.imgImprimirCard{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardImg div span{
    margin-top: 3px;
    color: rgb(66, 66, 66);
    font-size: 15px;
}