.header {
    width: 100%;
    background-image: linear-gradient(to right, #0986CA, #044364);
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.containerHeader{
    position: relative;
}

.cardHeader {
    width: 99vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconMenuBar {
    font-size: 40px;
    color: white;
    padding: 5px 5px;
    transition: var(--trsBck), var(--trsTrf);
    position: absolute;
    top: 50%;
    left: 0;
    border-radius: 10px;
    transform: translateY(-50%);
}

.iconMenuBar:hover{
    background-color: var(--eftHvrTrp);
    cursor: pointer;
}

.iconMenuBar:active{
    transform: scale(0.90);
}


.containerLogo {
    display: flex;
    gap: 5px;
    color: white;
    align-items: center;
    padding: 5px;
    border-radius: 20px;
    transition: var(--trsBck);
}

.containerLogo:hover{
    background-color: var(--eftHvrTrp);
    cursor: pointer;
}

.cardHeader .containerLogo img {
    height: 50px;
}

.cardHeader .containerLogo h1{
    font-family: 'Kanit';
    letter-spacing: 3px;
}