
.containerMenu.true {
    background-image: linear-gradient(to bottom, #4ac0ff, #1278af);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 17vw;
    z-index: 999;
    display: flex;
    transition: left 0.3s ease;

}

.containerMenu.none{
    left: -17vw;

}

.containerMenu.false{
    display: none;
}

.cardMenu,
.cardMenu ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardMenu {
    width: 100%;
    height: 100%;
    align-items: center;
}

.titleMenu {
    width: 100%;
    height: 200px;
    text-align: center;
    align-content: center;
    position: relative;
}

.menuIcon{
    font-size: 30px;
    border-radius: 5px;
    transition: var(--trsBck);
    position: absolute;
    top: 10px;
    right: 10px;
}

.menuIcon:hover{
    background-color: #78d0ff;
    cursor: pointer;
}

.titleMenu span{
    font-size: 30px;
}

li {
    list-style: none;
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid white;

}

.link {
    color: white;
    text-decoration: none;
}

ul {
    display: flex;
    width: 100%;
    flex: 1;
}

.noneBorder{
    border-bottom: none !important;
}