.section{
    width: 100%;
    height: 90%;
    align-content: center;
}

.container{
    display: flex;
    align-items: center;
    padding: 80px 10%;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vh;
}

.card h2{
    color: #0986CA;
    font-size: 30px;
}

.card p{
    width: 80%;
    text-align: center;
    font-size: 20px;
}

.card img{
    height: 350px;
}