:root{
  --border: 1px solid red;
  --trsBck: background-image 0.3s ease;
  --trsTrf: transform 0.3s ease;
  --eftHvr: #9999999a; 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  min-height: 100%;
  background-color: #def5ff;
}